#s-c6aa4810-38aa-422e-8431-3f5b6d62294f > #backgroundBox {
  position: absolute;
}
#s-c6aa4810-38aa-422e-8431-3f5b6d62294f > #alignmentBox {
  position: relative;
  max-width: 440.0px;
  max-height: 956.0px;
  width: 100%;
  height: 100%;
}
#s-c6aa4810-38aa-422e-8431-3f5b6d62294f #s-Image_1 {
  position: absolute;
  width: 440.0px;
  height: 697.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-c6aa4810-38aa-422e-8431-3f5b6d62294f #s-Hotspot_1 {
  position: absolute;
  width: 315.0px;
  height: 80.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-c6aa4810-38aa-422e-8431-3f5b6d62294f #s-Hotspot_2 {
  position: absolute;
  width: 440.0000000000002px;
  height: 529.4498141263941px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-c6aa4810-38aa-422e-8431-3f5b6d62294f > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}