#s-7b9c6793-3226-4818-bddf-53e13824761b > #backgroundBox {
  position: absolute;
}
#s-7b9c6793-3226-4818-bddf-53e13824761b > #alignmentBox {
  position: relative;
  max-width: 440.0px;
  max-height: 956.0px;
  width: 100%;
  height: 100%;
}
#s-7b9c6793-3226-4818-bddf-53e13824761b #s-Image_1 .imageViewport > * {
  width: 188.85383806519454%;
  height: 167.79997354147375%;
  left: -88.85383806519454%;
  top: -0.0%;
}
#s-7b9c6793-3226-4818-bddf-53e13824761b #s-Image_1 {
  position: absolute;
  width: 440.00000000000034px;
  height: 839.75px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-7b9c6793-3226-4818-bddf-53e13824761b #s-Hotspot_1 {
  position: absolute;
  width: 60.0px;
  height: 48.00000000000006px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-7b9c6793-3226-4818-bddf-53e13824761b #s-Hotspot_2 {
  position: absolute;
  width: 149.438232421875px;
  height: 52.666639922798026px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-7b9c6793-3226-4818-bddf-53e13824761b > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}