#s-ac042286-3463-437c-94e5-be25c9fa8b05 > #backgroundBox {
  position: absolute;
}
#s-ac042286-3463-437c-94e5-be25c9fa8b05 > #alignmentBox {
  position: relative;
  max-width: 440.0px;
  max-height: 956.0px;
  width: 100%;
  height: 100%;
}
#s-ac042286-3463-437c-94e5-be25c9fa8b05 #s-Image_1 {
  position: absolute;
  width: 440.00000000000045px;
  height: 609.5122898549605px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-ac042286-3463-437c-94e5-be25c9fa8b05 #s-Hotspot_1 {
  position: absolute;
  width: 355.00000000000017px;
  height: 296.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-ac042286-3463-437c-94e5-be25c9fa8b05 #s-Hotspot_2 {
  position: absolute;
  width: 266.00000000000045px;
  height: 70.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-ac042286-3463-437c-94e5-be25c9fa8b05 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}